<template>
  <div id="app" class="small-container">
    <h1>Employees</h1>
    <employee-form @add:employee="addEmployee" />
      <employee-table 
                v-bind:employees="employees" 
                @delete:employee="deleteEmployee" 
                @edit:emplotee="editEmployee" />
  </div>
</template>

<script>
import EmployeeTable from '@/components/EmployeeTable.vue'
import EmployeeForm from '@/components/EmployeeForm.vue'

export default {
  name: 'app',
  components: {
    EmployeeForm,
    EmployeeTable
  },
  data() {
    return {
      employees: [
        {
          id: 1,
          name: 'Richard Hendricks',
          email: 'richard@piedpiper.com',
        },
        {
          id: 2,
          name: 'Bob',
          email: 'bob@piedpiper.com',
        },
        {
          id: 3,
          name: 'Jeff',
          email: 'jeffff@piedpiper.com',
        },
      ]
    }
  },
  methods: {
    addEmployee(employee) {
      const lastId = 
        this.employees.length > 0
        ? this.employees[this.employees.length - 1].id
        : 0;
      const id = lastId + 1;
      const newEmployee = { ...employee, id };
      this.employees = [ ...this.employees, newEmployee];
    },
    editEmployee(id, updatedEmployee) {
      this.employees = this.employees.map(employee =>
        employee.id === id ? updatedEmployee : employee
      )
    },
    deleteEmployee(id) {
      this.employees = this.employees.filter(
        employee => employee.id !== id
      )
    }
  }
}
</script>

<style>
button {
  background: #009435;
  border: 1px solid #009435;
}

.small-container {
  max-width: 680px;
}
</style>
